# Ignore everything
*

# ...even if they are in subdirectories
*/

# But not these files...
!.eslintrc.json
!.gitignore
!.gvimrc
!.ideavimrc
!.pdbrc.py
!.profile
!.vim.requirements.txt
!.condarc
!dev_init.sh

!.vim/
!.vim/after/
!.vim/after/*
!.vim/after/syntax/
!.vim/after/syntax/*

!.vimrc
!.zprofile
!.zshrc
