# Ignore everything
*

# But not these files...
!.gitignore
!.vimrc
!.zshrc
!.profile
!.ideavimrc

# ...even if they are in subdirectories
*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*
