.oh-my-zsh/
.vim
.config/nvim/plugged
.config/nvim/session
.config/wslu/
.config/lvim/
.config/lvim.bak
.config/karabiner/automatic_backups/
.config/nvim/plugin/packer_compiled.lua
.config/nvim/lua/packer_compiled.lua
.config/configstore
.config/yarn

fonts/
.config/lazygit
!.config/lazygit/config.yml
.config/composer
.config/fish/functions
.config/fish/conf.d
!.config/fish/conf.d/abbr.fish
!.config/fish/functions/n.fish
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/fishd.tmp.F3tGza

.config/fish/fish_variables
.config/nextjs-nodejs/config.json
lazygit
lazygit.tar.gz
.config/tmux/plugins
.config/helix/runtime
.config/github-copilot
.config/nvim/lua/.luarc.json
